html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7fb;
  color: #111827;
}

code {
  background: rgba(27,31,35,0.05);
  padding: 0.2em 0.4em;
  border-radius: 6px;
}
